
.calnavTitle {
    position:relative;
    width:auto;
    height:29px;
    line-height: 29px;
    border-radius: 20px;
    border: 2px solid black;
}

.calnavTitleDiv {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    height:25px;
}

.calnavNavIconDiv {
    position:relative;
    height:25px;
    line-height: 25px;
    cursor:pointer;
}

.calnavNavIcon {
    position:relative;
    height:25px;
    line-height: 25px;
}

.calnavNavNow {
    position: absolute;
    top: 5px;
    left: 12px;
    width: 20px;
    height: 20px;
}

.calnavNavDayDiv {
    position:relative;
    height: 25px;
    width:25px;
    line-height: 25px;
    margin-top: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    padding:2px;
    box-sizing: border-box;
}

.calnavNavDayTxt {
    position:relative;
    width: 100%;
    vertical-align: bottom;
    text-align: center;
    font-size:7pt;
    font-weight:bold;
}

.calnavNavArrow {
    position: relative;
    height: 16px;
    width: 16px;
    top:50%;
    margin-top:-8px; 
}

.calnavOptDiv {
    position:absolute;
    left:50%;
    margin-left:-150px;
    top:29px;
    width:300px;
    height:255px;
    overflow:hidden;
    display:none;
}

.calnavOptInnerDiv {
    position:relative;
    left:0px;
    top:0%;
    width:auto;
    height:250px;
    border:2px solid black;
}

.calnavOptFirst {
    position:relative;
    width:auto;
    height:30px;
    line-height: 30px;
    text-align:center;
}

.calnavOptFirst div{
    position:relative;
    height:20px;
    text-align:center;
    display:inline-block;
    margin-top:10px;
}

.calnavOptSecond {
    position:relative;
    width:auto;
    height:90px;
    text-align:center;
}