
@font-face {
    font-family: lato;
    src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(fonts/Lato/Lato-Bold.ttf);
    font-weight:bold;
}

html {
    font-size:10pt;
}

body {
    width:100%;
}

#salmain {
    position:relative;
    width:1200px;
    height:600px;
    left:50%;
    transform:translate(-50%,0);
}

.salHeadLine {
    position:relative;
    width:100%;
    height:25%;
    font-weight:bold;
}

.salHeadBlock {
    position:relative;
    width:100%;
    height:75%;
    border:1px solid black;
    box-sizing:border-box;
    padding:3px;
    border-radius:15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.tempodiv {
    position:relative;
    width:90%;
    left:50%;
    transform:translate(-50%,0);
    margin-top:10px;
    padding:3px;
    box-sizing:border-box;
    border-radius:5px;
    box-shadow: 5px 5px #99999999;
    font-size: 1.3em;
    font-weight:bold;
    opacity:0.8;
}