
@font-face {
    font-family: lato;
    src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(fonts/Lato/Lato-Bold.ttf);
    font-weight:bold;
}

@font-face {
    font-family: lato;
    src: url(fonts/Lato/Lato-Italic.ttf);
    font-style: italic;
}

html {
    font-size:10pt;
}

body {
    position:relative;
    width:100%;
    font-family:lato;
    left:0px;
    margin-left:0px;
}

@media screen and (max-width: 1024px) { 

    body {
        position:relative;
        width:1200px;
        left:0px;
        margin-left:0px;
    }

}

#salmain {
    position:relative;
    width:1200px;
    height:630px;
    left:50%;
    transform:translate(-50%,0);
}

.salHeadLine {
    position:relative;
    width:100%;
    height:15%;
    font-weight:bold;
}

.salHeadBlock {
    position:relative;
    width:100%;
    height:85%;
    border:1px solid black;
    box-sizing:border-box;
    padding:3px;
    border-radius:15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.tempodiv {
    position:relative;
    width:90%;
    left:50%;
    transform:translate(-50%,0);
    margin-top:10px;
    padding:3px;
    box-sizing:border-box;
    border-radius:5px;
    box-shadow: 5px 5px #99999999;
    font-size: 1.3em;
    font-weight:bold;
    opacity:0.8;
}

.salBottom {
    position:relative;
    width:98%;
    left:50%;
    transform: translate(-50%,0);
    border-radius: 5px;
    border: 1px solid #a4a138;
    overflow: hidden;
}

.salBottomHead {
    position:relative;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.salBottomHead select {
    height: 22px;
}

/*-------------------------------------------*/

.salTestoContainer {
    position: relative;
    height: 90%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 15pt;
}

#salTesto {
    position:relative;
    width:97%;
}

.salResBlockTitle {
    position: relative;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: brown;
}

.salResBlockBody {
    margin-bottom: 40px;
}

.salTextBlock {
    margin-bottom: 10px;
    font-size:23px;
}

.salTextBody {
    box-sizing: border-box;
    line-height: 25px;
    min-height: 25px;
    margin-bottom:2px;
}

.salTextCapo {
    position: relative;
    width: 16px;
    min-height:16px;
    margin-right:10px;
}

.salTextEnd {
    position: relative;
    width: 14px;
    min-height:14px;
    margin-left:5px;
}

.salAntifona {
    position:relative;
    display:inline-block;
    width:6%;
    color:brown;
    vertical-align:top;
    box-sizing: border-box;
}

.salAntifona2 {
    position:relative;
    display:inline-block;
    width:94%;
    vertical-align:top;
    box-sizing: border-box;
}

/*-------------------------------------*/

.litcal_line {
    position: relative;
    border-bottom:1px solid #555555;
    font-size:0.9em;
}

.litcal_line_container {
    position: relative;
    margin-top:5px;
    margin-bottom:5px;
    width:100%;
}

.litcal_line_container > div {
    position: relative;
    padding:3px;
    box-sizing: border-box;
}

